*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }

.heading-3 {
  font-size: 1.6rem;
  color: #101d2c;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  grid-column: 1 / 3;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.features {
  grid-column: center-start / center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 50em) {
    .features {
      grid-template-columns: minmax(15rem, 1fr);
      font-size: 1rem;
      grid-gap: 3rem; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.sidebar {
  background-color: #101d2c;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/ -1;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 3rem; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        transform: translateY(1rem); } }

.choppers {
  background-color: #54483A;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .choppers {
      grid-column: 1 / -1; } }
  .choppers__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .choppers__list {
        grid-template-columns: repeat(3, min-content max-content); } }
  .choppers__img {
    width: 7rem;
    border-radius: 50%;
    display: block; }
  .choppers__bought {
    text-transform: uppercase;
    color: aliceblue;
    margin-top: -3px; }

.products {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 50em) {
    .products {
      grid-template-columns: repeat(2, minmax(15rem, 1fr)); } }

.product {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.5rem; }
  .product__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    height: 15rem;
    object-fit: fill; }
  .product__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem; }
  .product__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .product__brand, .product__price {
    margin-top: 2.5rem; }
  .product__location, .product__brand, .product__price, .product__size {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .product__location svg, .product__brand svg, .product__price svg, .product__size svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / span 1; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / span 1; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3; }
  .gallery__item--10 {
    grid-row: 6 / span 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2; }
  .gallery__item--13 {
    grid-row: 5 / -1;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2; }

.header {
  background-color: #c69963;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(198, 153, 99, 0.93), rgba(170, 170, 170, 0.93)), url(../img/back.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  .header__logo {
    height: 6rem;
    justify-self: center; }
    .header__logo--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .header__title {
    grid-row: 2;
    width: 100%; }
  .header__btn {
    align-self: start;
    justify-self: start;
    background-color: #101d2c; }
  .header__brand-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    grid-row: 4;
    font-size: 1.6rem;
    color: #f9f7f6; }
    .header__brand-text::before, .header__brand-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__brand-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    grid-row-start: 5; }
    .header__brand-logos img {
      max-height: 4rem;
      max-width: 100%; }

.footer {
  background-color: #c69963;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #f9f7f6;
  margin-top: 6rem;
  text-align: center; }
