.header {
    background-color: $color-primary;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-primary, .93), rgba($color-grey-light-2, .93)), 
    url(../img/back.jpg);
    background-size: cover;
    background-position: center;
   padding: 8rem; 
   padding-top: 4rem; 

    display: grid;
    // grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr 1fr;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr 1fr;
    grid-template-columns: 1fr; // minmax(min-content, max-content);  
    grid-row-gap: 1.5rem;
    // grid-auto-rows: minmax(1fr);

    // justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    } 
    

    &__logo {
      height: 6rem;  
      justify-self: center;

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    &__title {
        grid-row: 2;
        // background-color: red;
        width: 100%;
        // display: block;
    }

    &__btn {
       align-self: start; 
       justify-self: start;
       background-color: $color-secondary; 
    }

    &__brand-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;   
        grid-row: 4;


        font-size: 1.6rem;
        color: $color-grey-light-1;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__brand-logos { 
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 3rem;
        justify-items: center; 
        align-items: center;  
        grid-row-start: 5;

        img {
            max-height: 4rem;
            max-width: 100%; 
           
        }
    }
} 